@import "tailwindcss";
@font-face {
    font-family: Typo-1;
    src: url(./assets/90475aac776488b6-s.p.woff2);
}
@font-face {
    font-family: Typo-2;
    src: url(./assets/05f970ec0bd776d8-s.p.woff2);
}
@font-face {
    font-family: Typo-3;
    src: url(./assets/6e50af2f4c313e23-s.p.woff2);
}
@font-face {
    font-family: Typo-4;
    src: url(./assets/79b59a18ba1c21ce-s.p.woff2);
}
@font-face {
    font-family: Typo-5;
    src: url(./assets/7ba63d3d46059782-s.p.ttf);
}
@font-face {
    font-family: Typo-6;
    src: url(./assets/8347d131139854e0-s.p.woff2);
}
